html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}

div.container{
    width: 95vw;
    height: 95vh;
    background-color: a5a58d;
}

header{
    color: rgb(36, 151, 87);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 35px;
    padding: 10px;
}

header div{
    color: rgb(36, 151, 87);
    padding: 5px;
    text-align: center;
}

div.start{
    background-color: ddbea9;
    margin: 10px;
    height: calc( 95vh - 85px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.start p{
    max-width: 500px;
}

div.questions{
    background-color: ddbea9;
    margin: 10px;
    height: calc( 95vh - 85px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.questions div.question{
    font-size: 24px;
    margin-bottom: 50px;
}

div.questions div.answers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
}

div.questions div.answers div{
    width: 200px;
    background: b7b7a4;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

div.questions div.answers div.ansCorrect{
    background: green;
}

div.questions div.answers div.ansWrong{
    background: a5a58d;
}

div.addScore{
    background-color: ddbea9;
    margin: 10px;
    height: calc( 95vh - 85px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.scores{
    background-color: ddbea9;
    margin: 10px;
    height: calc( 95vh - 85px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.scores table{
    width: 300px;
    display: table;
}

div.scores table tbody tr:nth-child(2n-1) td{
    background-color: a5a58d;
}

.hide{
    display: none!important;
}